<form action="addpost" method="post">
    <label for="titulo">
        <p>Título: </p>
        <input type="text" name="titulo" id="titulo">
    </label>

    <label for="conteudo">
        <p>Conteúdo: </p>
        <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
    </label>

    <input type="submit" value="Cadastrar postagem">
</form>